# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.user
*.suo
_ReSharper*
build
test
# mstest test results
TestResults
SampleFiles/349d5bf7-09ae-4e3a-b1c1-1af9502451af.csv